.faded {
    opacity: 0.4;
}

.ticket {
    height: 200px;
}

.ticket ul {
    list-style-type: none;
}

.ticket .handle {
    cursor: move;
}

#SelectedMilestone {
    color: #272B30;
}

#hide-completed {
    cursor: pointer;
}

.high-priority {
    background-color: #64383E;
}

.low-priority {
    background-color: #32387C;
}